/* sec1 */
.inbox1{
    /* background-color: aqua; */
    min-height: 60px;
    /* align-items: start; */
    align-content:center;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* text-align: center; */
}
/* @media(max-width:540px){
    .inbox1{
        text-align: center;
    }
} */
.inbox111{
    /* background-color: aqua; */
    min-height: 60px;
    /* align-items:first baseline; */
    align-content: center;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.zola{
    /* margin-left: 100px;
    margin-top: 10px; */
    /* text-align: center; */
    display:flex;
}
@media (max-width:390px) {
   .zola{
        /* margin-left: 90px; */
    }
    
}
.btn{
    /* padding-left: 200px; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    /* padding-top: 20px;
    margin-left: 20px; */
}
@media (max-width:768px) {
   /* .btn{
        padding-left: 50px;
    } */
    
}
@media (max-width:390px) {
   /* .btn{
        padding-left: 100px;
        margin-left: -25px;
        margin-right: 10px;
    }
    
    .btn-info{
        margin-left: -10px;
    } */
}
.btn-info{
    /* padding:8px 20px;
    margin-top: 10px; */
    border-radius: 30px;
    color: white;
    background-color: rgb(105, 196, 199);
    border-color:  rgb(105, 196, 199);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    /* margin-bottom: 3px; */
}

/* sec2 */
.sec2{
     background-color: rgb(204, 58, 58);
}
.inbox2{
    min-height: 40px;
    background-color: rgb(204, 58, 58);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.p1{
    color: white;
    text-align: center;
    /* padding-top: 5px; */
    /* font-weight: bold; */
    font-size: 20px;
}
span{
    font-size: 13px;
}

/* sec3 */
.sec3{
    background-color: rgb(211, 236, 243);
}
.inbox3{
    /* min-height: 450px; */
    /* background-color: bisque; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.p2{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    /* padding-top: 80px; */
}
.p3{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}
.info1{
    /* margin-left: 120px;
    padding: 8px 50px; */
    background-color: rgb(92, 182, 185);
    border-color:  rgb(92, 182, 185);
}
@media (max-width:768px){
    /* .info1{
        margin-left: 210px;
    } */
}
@media (max-width:390px){
    /* .info1{
        margin-left: 50px;
    } */
    .p3{
        font-size: 13px;
    }
}
.inbox4{
    /* background-color: rgb(2, 53, 53); */
    min-height: 450px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.wdg{
    /* margin-top: 25px; */
    overflow: hidden;
}
@media (max-width:768px){
    .wdg{
        /* margin-left: 48px; */
        overflow: hidden;
    }
}
@media (max-width:390px){
    .wdg{
        /* width: 420px;
        height: 350px; */
        /* margin-left: 10px; */
        overflow: hidden;

    }
}

/* sec4 */

.inbox5{
  min-height: 250px;
  /* background-color: aqua;   */
  /* margin-top: 70px; */
  /* border-style: solid; */
  /* border-color: black; */
  /* background-color: rgb(105, 196, 199); */
  /* margin-bottom: 30px; */
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.last{
    /* padding-bottom: 32px; */
}
.last1{
    /* padding-bottom: 10px; */
}
.cir{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: rgb(241, 236, 236);
    /* margin-left: 80px;  
    margin-top:50px; */
    /* align-items: end; */
}
@media (max-width:768px){
    .cir{
        /* margin-left: 110px; */
    }
}
@media (max-width:390px){
    .cir{
        /* margin-left: 140px; */
    }
}
.gb{
    /* margin-left: 17px;
    margin-top: 17px; */
}
.jm{
     /* margin-left: 17px;
    margin-top: 17px; */
}
.cir1{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color:rgb(235, 76, 76);
    /* margin-left: 80px;  
    margin-top:50px; */
}
@media (max-width:768px){
    .cir1{
        /* margin-left: 110px; */
    }
}
@media (max-width:390px){
    .cir1{
        /* margin-left: 140px; */
    }
}
.off{
    color: white;
    font-weight: bold;
    font-size: 28px;
    /* padding-left: 25px;
    padding-top: 8px; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.lry{
    /* margin-left: 17px;
    margin-top: 10px;  */
}
.h5{
    text-align: center;
    /* padding-top:20px ; */
    font-weight: bold;
    font-size: 17px;
    
}
.h6{
    text-align: center;
    font-size: 11px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.h7{
    /* padding-top: 35px; */
}
.h9{
    /* padding-top: 18px; */
}

/* sec5 */
.sec5{
    background-color:rgba(7, 90, 138, 0.911) ;
}
.inbox6{
    /* min-height: 150px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    /* background-color: antiquewhite; */
}
.h2{
    color: white;
    text-align: center;
    /* padding-top: 70px; */
    text-decoration: underline  orange;
}

.p6{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* padding: 12px 0px; */
    font-size: 13px;
    text-align: center;
}
.inbox7 {
    background-color: antiquewhite;
    min-height: 200px;
    /* width: 200px; */
    /* margin-left: 200px; */
    background-image: url(cui.jpg);
    background-position: center;
    background-size: cover;
    /* margin: 50px 0px; */
}
.inbox8{
    background-color: antiquewhite;
    min-height: 200px;
    background-image: url(oxo1.jpg);
    background-position: center;
    background-size: cover;
    /* margin: 50px 0px;
    margin: 50px 0px; */
}
.inbox9{
    background-color: antiquewhite;
    height: 200px;
    background-image: url(kitaid.jfif);
    background-position: center;
    background-size: cover; 
    /* margin: 50px 0px;
    margin: 50px 0px; */
}
 .inbox10{
    background-color: antiquewhite;
    min-height: 200px;
    background-image: url(crate.jpg);
    background-position: center;
    background-size: cover; 
    /* margin: 50px 0px;
    margin: 50px 0px; */
}
@media (max-width:768px) {
    .inbox7, .inbox8, .inbox9, .inbox10{
        height: 300px;
    }
    
}
@media (max-width:468px) {
   .inbox7, .inbox8, .inbox9, .inbox10{
        height: 350px;
    }
    
}
.inbox11{
    background-color: rgb(255, 255, 255);
    /* min-height: 50px; */
    /* margin: auto; */
    /* justify-content: end; */
}
@media (max-width:768px) {
   .inbox11{
        /* margin-top: 83px; */
    }
    
}
@media (max-width:468px) {
   .inbox11{
        /* margin-top: 150px; */
    }
    
}

.p11{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    /* padding-top: 10px; */
    font-size: 20px;
}
.btn2-info{
    /* padding:8px 20px; */
    /* margin-top: 10px; */
    border-radius: 30px;
    color: white;
    background-color: rgb(105, 196, 199);
    border-color:  rgb(105, 196, 199);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    /* margin-left: 470px;
    margin-bottom: 30px; */
}
@media (max-width:768px){
    .btn2-info{
        /* margin-left: 230px; */
        font-size: 15px;
        /* margin-bottom: 30px; */
    }
}
@media (max-width:390px) {
    .btn2-info{
        /* margin-left: 80px; */
    }
    
}

/* secc6 */
.sec6{
    background-color: white;
}
.inbox12{
    min-height: 150px;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
}

@media (max-width:768px){
    .inbox12{
        /* margin-top: 30px; */
    }
}
.last4{
    /* border-style: solid; */
    /* border-color: black; */
    /* padding-bottom: 10px; */
    /* padding-top: 10px; */
    /* background-color: rgb(105, 196, 199); */

}
.last5{
    /* padding-bottom: 16px; */
}
.p12{
    color: black;
    text-decoration: none;
    font-weight: bold;
    /* padding-bottom: 30px; */
}
.join{
color: gray;
}
.over{
    color: black;
}
.inbox13{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-color: bisque;
    /* margin: 0px 0px 0px 100px; */
    background-image: url(crolyn.jpg);
    background-position: center;
    background-size: cover; 

  
}
@media (max-width:390px){
    .inbox13{
        /* margin-left: 100px; */
    }
}
.inbox14{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-color: bisque;
    /* margin: auto; */
    background-image: url(maureena.jpg);
     background-position: center;
    background-size: cover; 
  
}
@media (max-width:468px){
    .inbox14{
        /* margin-top: 40px; */
    }
}
.inbox15{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-color: bisque;
    /* margin: auto; */
    background-image: url(missy.jpg);
     background-position: center;
    background-size: cover; 
  
}
@media (max-width:768px){
    .inbox15{
        /* margin-top: 40px; */
    }
}
@media (max-width:390px){
    .inbox15{
        /* margin-left: 100px; */
    }
}
.p13{
    font-weight: bold;
    font-size: 13px;
    text-align: center;
}
.str{
    /* margin:0px 0px 0px 0px; */
}
.inbox16{
    min-height: 21px;
    width: 50%;
    /* background-color: red; */
    background-image: url(stars.png);
    background-position:center;
    background-size: 200px;
    /* padding-top: 75px; */
    /* padding-left: 123px; */
    font-weight: bold;
    font-size: 12px;
    /* margin-left: 90px; */
    
}
@media (max-width:390px){
    .inbox16{
        /* margin-left: 90px; */
    }
}
.inbox31{
    font-weight: bold;
    /* padding-left: 115px; */
}
@media (max-width:390px){
    .inbox31{
        /* padding-left: 120px; */
    }
}
.inbox32{
    font-weight: bold;
    /* padding-left: 115px; */
    font-size: 12px;
    
}
@media (max-width:390px){
    .inbox32{
        /* padding-left: 120px; */
    }
}
.fort{
    /* padding-left: 10px; */
}
.ken{
    font-weight: bold;
}
.inbox33{
    font-weight: bold;
   /* padding-left: 120px; */
    
}

@media (max-width:768px){
    .inbox33{
        /* padding-left: 273px; */
    }
}
@media (max-width:390px){
    .inbox33{
        /* padding-left: 120px; */
    }
}
.nv{
    /* padding-left: 18px; */
}
.inbox30{
    min-height: 21px;
    width: 50%;
    /* background-color: red; */
    background-image: url(stars.png);
    background-position:center;
    background-size: 200px;
    /* padding-top: 75px; */
    /* padding-left: 100px; */
    font-weight: bold;
    font-size: 12px;
    /* margin-left: 90px; */
}

@media (max-width:768px) {
   .inbox30{
        width: 35%;
        /* margin-left: 218px; */
    }
    
}
@media (max-width:390px){
    .inbox30{
        /* margin-left: 100px; */
        width: 50%;
    }
}
.tx{
    /* padding-left: 35px; */
    font-size: 12px;
    font-weight: bold;
}
.mua{
   /* padding-left: 27px; */
   font-size: 15px;
   font-weight: bold;
}

/* secc7 */
.sec7{
    background-color: rgb(248, 192, 201);
    /* margin-top: 70px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* text-align: center; */
    
}
@media(max-width:468px){
    .sec7{
        background-color: rgb(248, 192, 201);
        min-height: 100%;
    }
}
.inbox17{
    min-height: 450px;
    /* background-color: blue; */
    background-image: url(cpl.jpg);
    background-position: center;
    background-size: cover;
    /* margin-top: 30px;
    margin-bottom: 30px ; */
    border-radius: 15px;
}
.inbox18{
    /* min-height: 450px; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    /* text-align: center; */
    /* background-color: rgb(13, 175, 94);   */
    /* margin-left: 35px; */
}
@media (max-width:390px){
    .inbox18{
      /* padding-top: 0px; */
      /* background-color: rgb(248, 192, 201); */
     /* text-align: start; */
     min-height: 350px;
    }
}
.h1{
    /* padding-top: 150px; */
 
}
.free{
    color:rgb(231, 99, 121);
    text-decoration: underline;
}
.lorm{
    color: rgb(104, 102, 102);
}
.btn3-info{
    background-color: rgb(17, 140, 170);
    border-color: rgb(17, 140, 170);
    /* padding: 10px 25px; */
    color: white;
    border-radius: 30px;
    font-size: 15px;
    /* align-items: first baseline; */
}
@media(max-width:768px){
    .btn3-info{
        /* margin-bottom: 30px; */
    }
}

   /* sec8 */
.inbox19{
    min-height: 50px;
    /* background-color: aqua; */
    /* margin-top: 40px; */
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}
@media (max-width:390px){
    .inbox19{
      font-size: 22px;
      /* margin-top: 400px; */
    }
}
.inbox20,.inbox21,.inbox22,.inbox23{
    /* min-height: 200px; */
    /* background-color: aqua; */
    /* border-style: solid; */
    /* border-color: black; */
    /* margin-top: 10px; */
    /* background-color: rgb(105, 196, 199); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}
.inbox24,.inbox25,.inbox26{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.last3{
    /* padding-bottom: 20px; */
}
.inbox21{
    /* min-height: 200px; */
    /* background-color: rgb(15, 17, 17); */
    /* border-style: solid; */
    /* border-color: black; */
    /* margin-top: 10px; */
    /* background-color: rgb(105, 196, 199); */


}
.inbox22{
    /* min-height: 200px; */
    /* background-color: rgb(146, 163, 163); */
    /* border-style: solid; */
    /* border-color: black; */
    /* margin-top: 10px; */
    /* background-color: rgb(105, 196, 199); */

}
.inbox23{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: rgb(241, 236, 236);
    /* margin-left: 128px;   */
    /* margin-top:50px; */
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center; */
}
@media (max-width:768px){
    .matching{
        /* margin-left: 300px; */
    }
}
@media (max-width:390px){
    .inbox23{
      /* margin-left: 140px; */
    }
}
.price{
    /* margin-top: 20px;
    margin-left: 10px; */
}

.inbox24{
    /* min-height: 200px; */
    /* background-color: rgb(146, 163, 163); */
    /* border-style: solid; */
    /* border-color: black; */
    /* margin-top: 20px; */
    /* background-color: rgb(105, 196, 199); */

}
.inbox25{
    min-height: 200px;
     /* background-color: aqua; */
    /* border-style: solid; */
    /* border-color: black; */
    /* margin-top: 20px; */
    /* background-color: rgb(105, 196, 199); */

}
.inbox26{
    /* min-height: 200px; */
      /* background-color: rgb(15, 17, 17); */
    /* border-style: solid; */
    /* border-color: black; */
    /* margin-top: 20px; */
    /* background-color: rgb(105, 196, 199); */

}

.inbox27{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: rgb(241, 236, 236);
    /* margin-left: 128px;  
    margin-top:50px; */
}
@media (max-width:768px){
    .customer{
        /* margin-left: 300px; */
    }
}
@media (max-width:390px){
    .inbox27{
      /* margin-left: 140px; */
    }
}
.pig{
    /* margin-left: 13px; 
    margin-top: 7px; */
}
.note{
    /* margin-left: 13px; 
    margin-top: 14px;  */
}
.cust{
    /* margin-left: 10px; 
    margin-top: 7px;  */
}
.h5{
    font-size:  20px;
    /* padding: 10px 0px 0px 0px; */

}
@media (max-width:768px){
    .h5{
        /* padding-left: 15px; */
    }
}
.re{
    /* padding-left: 5px; */
}
.h6{
    /* padding-top: 10px; */
    color: rgb(53, 51, 51);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    /* font-weight: bold; */
}
@media (max-width:768px){
    .h6{
        /* padding-left: 15px; */
    }
}
.ex{
    /* padding-top: 25px ; */
}
.do{
    /* padding: 20px; */
}
@media (max-width:768px){
    .do{
        /* padding-left: 35px; */
    }
}

/* secc9 */
.sec9{
  background-color:rgba(7, 90, 138, 0.911) ;
  
  /* margin-top: 50px; */
 
}
.inbox28{
    min-height: 250px;
     display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.p5{
  /* font-family: 'Dancing Script', cursive; */
  /* font-family: 'Dancing Script', cursive; */
  font-family: 'Dancing Script', cursive;


  /* font-weight: bold; */
  text-align: center;
  font-size: 50px;
  color: white;
  /* padding-top: 50px; */
}
@media (max-width:390px){
    .p5{
      font-size: 43px;
    }
}
.btn1-warning{
    background-color: rgb(47, 196, 233);
    border-color:rgb(47, 196, 233);
    /* padding: 8px 50px; */
    color: white;
    border-radius: 30px;
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* margin-left: 450px;
    margin-bottom: 30px; */
}
@media (max-width:768px){
    .btn1-warning{
        /* margin-left: 250px; */
    }
}
@media (max-width:390px){
    .btn1-warning{
      /* margin-left: 90px; */
    }
}

/* secc10 */
.inbox29{
    min-height: 100px;
    /* background-color: blueviolet; */
    font-size: 8px;
    text-align: center;
    /* padding-top: 20px; */
    color: rgb(105, 105, 105);
     display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: justify;

}













